video {
  width: 45vw;
  height: auto;
}

.projets {
  width: 50vw;
  height: auto;
  margin: 0 auto;
  border-color: red;
}

.project1,
.project2,
.project3 {
  color: var(--white);
  font-family: var(--font);
  font-size: 1rem;
  margin: 1vw 0;
}

.project1 {
  margin: 0 auto;
}

.project2 p,
.project3 p {
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
