@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0e0e10;
}

.blop1,
.blop3,
.blop5,
.blop7 {
  position: absolute;
  width: clamp(75px, 15vw, 300px);
  height: clamp(75px, 15vw, 300px);
  background: radial-gradient(circle, var(--purple-1), var(--purple-2));
  border-radius: 50%;
  filter: blur(200px);
  z-index: -1;
}
.blop2,
.blop4,
.blop6 {
  position: absolute;
  width: clamp(75px, 15vw, 300px);
  height: clamp(75px, 15vw, 300px);
  background: radial-gradient(circle, var(--blue-1), var(--blue-2));
  border-radius: 50%;
  filter: blur(200px);
  z-index: -1;
}

/* Positions réparties sur toute la hauteur */
.blop1 {
  top: 4%;
  left: 6%;
}
.blop2 {
  top: 20%;
  right: 6%;
}
.blop3 {
  top: 100%;
  left: 20%;
}
.blop4 {
  top: 150%;
  right: 15%;
}
.blop5 {
  top: 220%;
  left: 6%;
}
.blop6 {
  top: 290%;
  right: 15%;
}
.blop7 {
  top: 370%;
  left: 6%;
}

:root {
  /*Colors*/
  --purple-1: #9f3ff9c4;
  --purple-2: #7e22cec7;
  --blue-1: #2fbcf9c0;
  --blue-2: #0aa2e8bd;
  --white: rgb(220, 220, 220);
  --dark-purple: #11031d;

  /*Font*/
  --font: "Tomorrow", sans-serif;
}

@media screen and (max-width: 500px) {
  .blop1,
  .blop2,
  .blop3,
  .blop4,
  .blop5,
  .blop6,
  .blop7 {
    width: 75px;
    height: 75px;
    filter: blur(75px);
  }
  body {
    margin-bottom: 0;
  }
  html {
    margin-bottom: 0;
  }
}
